
.buttons{
    display: flex;
    gap: .5rem;
    align-self: end;
    margin-right: .8rem;
    /* justify-items: end; */
  }
  
  .post{
    align-self: flex-end;
    /* margin-right: .8rem; */
    margin-top: .2rem;
    background-color: var(--main-color);
    color:white ;
    padding: .5rem 1rem;
    border: none;
    border-radius: 0 0 .5rem .5rem;
    text-transform: capitalize;
    width: 5rem;
    height:2.5re;
  }