.image{
    height: 9rem;
    aspect-ratio: 1;
    /* width: 10rem; */
    border-radius: 50%;
    border: .3rem solid #cc0088;

        transform: scaleX(-1)
}


.follow{
/* margin-top: "5rem"; */
/* font-size: "4rem"; */
display: flex;
 align-items: center;
 gap: .5rem;
 padding:.5rem .8rem;
 /* border-radius: 2rem; */
 border-radius: 2rem;
}
/* colors:  */
/* ##C822FF */
/* #1A6DFF */
/* #E6ABFF
#6DC7FF */