.imgStyle img{
height: 3rem;
aspect-ratio: 1;
margin-left: .5rem;
margin-bottom: .5rem;
/* margin-left: .5rem; */
/* display: flex; */
/* flex-direction: row; */
/* flex-direction: column; */
}

.imgStyle{
    /* margin-top: .5rem; */
    /* font-size: 1.5rem; */
}