/* .main-feed {
  background-color: rebeccapurple;

} */

/* @media (width>60em) {
  .resFeed {

  }

} */
/* @media (width>65em) {
  .respo {
  }
} */
@media (width>85em) {
  .feeds {
    padding: 0 3rem;
  }
}

.container {
  position: relative;
}

.hoverButton {
  /* padding: 10px 20px; */
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dialogBox {
  position: absolute;
  /* top: calc(100% + 5px); Position dialog box below the button */
  border-radius: 0.7rem;
  /* left: -30px; */
  top: -125px;
  /* background-color: #ffffff; */
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure dialog box appears on top */
  display: block;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(224, 17, 243, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* padding: 11rem 2rem; Initially hidden */
}

.hoverButton:hover + .dialogBox {
  display: block;
  /* z-index: 1000; */
  /* Show dialog box when button is hovered over */
}
