a {
  /* padding: .5rem 1.5rem; */
  text-decoration: none;
  font-weight: bold;
  padding: .4rem 1rem;
}

a:hover {
  background-color: rgb(197, 190, 190);
  color: #cc0088;
}
/* a:visited {
  color:#000000;
} */

.active {
  border-bottom: .2rem solid #cc0088;
}

.wrapper{
  /* background-color; */
  padding: 0 1.5rem;
}

.img img{
  height: 2rem;
}