a {
  /* padding: .5rem 1.5rem; */
  text-decoration: none;
  font-weight: bold;
  padding: 0.4rem 1rem;
}

a:hover {
  background-color: rgb(197, 190, 190);
  color: #cc0088;
}
/* a:visited {
  color:#000000;
} */

.active {
  border-bottom: 0.2rem solid #cc0088;
}

.wrapper {
  /* background-color; */
  padding: 0 1.5rem;
}

.img img {
  height: 2rem;
}

.sticky {
  /* background: rgba( 255, 255, 255, 0.2 ); */
  /* background: rgba( 222, 0, 240, 0.2 ); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-repeat: no-repeat, repeat;
  background-image: url("pat.jpg");
  background-blend-mode:lighten */
}

@media (width > 60rem ){
  html{
    font-size: 120%;
  }
.respo{
  padding: 0 20rem;
}

}

@media (65em>width > 47rem ){
  /* html{
    font-size: 120%;
  } */
.respo{
  padding: 0 10rem;
}

}
@media (width>65em ){
  /* html{
    font-size: 120%;
  } */
.respo{
  /* padding: 0 30rem; */
}

}
@media (width>90em ){
  /* html{
    font-size: 120%;
  } */
.respo{
  padding: 0 30rem;
}

}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}

.mode{
  background-color: #cc0088;
  position: fixed;
  z-index: 2;
  bottom: 1rem;
  left: 80%;
  float: inline-end;
  height: 3rem;
  aspect-ratio: 1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 50%;

  
}

.fl{
  animation: zinout 2s infinite;
  background-color: black;
}
@keyframes zinout {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.fl-2{
  background-color: var(--main-color);
  height: 100vh;
  /* aspect-ratio: 1; */
}